<div class="container border">
	<div class="row m-5">
        <div class="col text-center">
			<h3>Manage Custom User Roles</h3>
			<form method="POST">
				<div class="mx-3 mb-3 p-2 card">
					<div class="card-body">
						<h5 class="text-center">Role Details</h5>
						<!-- {% for set in hooks %} -->
						<table class="table mb-5 table-responsive-xl">
							<thead>
								<tr class="d-flex">
									<th class="col"></th>
									<th class="col">Description</th>
									<th class="col">Function</th>
								</tr>
							</thead>
							<tbody>
								{% for hook in set %}
								<tr class="d-flex">
									<td class="col" scope="row">
										<button name="{{ hook.name }}" type="submit" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="ExternalModuleTemplater.toggleHook(this)">
											{{ hook.name }}
										</button>
										<span class="text-muted"></span>
									</td>
									<td class="col"><p>{{ hook.description|raw }}</p></td>
									<td class="col"><p>{{ hook.function|raw }}</p></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<br />
						<!-- {% endfor %} -->
					</div>
				</div>
			</form>
		</div>
    </div>
</div>